In [13]:
import pandas as pd

In [14]:
data = [
    [1.22, 2.71,  378.8,  True,  True, False,    "Zebra", "Female"],
    [5.4,  4.16, 1255.2,  True, False,  True,  "Giraffe",   "Male"],
    [1.47, 2.81,  411.3,  True,  True, False,    "Zebra",   "Male"],
    [0.78, 1.27,     50,  True, False,  True,  "Cheetah", "Female"],
    [3.02, 6.46, 4128.5, False, False, False, "Elephant", "Female"],
    [0.44, 0.78,   18.2,  True,  True,  True,   "Ceivet",   "Male"]
]

In [15]:
df = pd.DataFrame(data, columns = ['Height', 'Length', 'Mass', 'Fur', 'Spots', 'Stripes', 'Species', 'Sex'])

In [16]:
df

   Height  Length    Mass    Fur  Spots  Stripes   Species     Sex
0    1.22    2.71   378.8   True   True    False     Zebra  Female
1    5.40    4.16  1255.2   True  False     True   Giraffe    Male
2    1.47    2.81   411.3   True   True    False     Zebra    Male
3    0.78    1.27    50.0   True  False     True   Cheetah  Female
4    3.02    6.46  4128.5  False  False    False  Elephant  Female
5    0.44    0.78    18.2   True   True     True    Ceivet    Male